{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="container-fluid bg-grey">
        <div class="row">
          <div class="col-sm-4">
            <img src="{{ post['photo'] }}" alt="{{ post['photo_name'] }} " width="350" height="450">
          </div>
          <div class="col-sm-8">
            <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
            <br>
            <p>{{ post['content'] }}</p>
            <a href="{{ url_for('edit', id=post['id']) }}">
                <span class="btn btn-info">Edit</span>
            </a>
          </div>
        </div>
      </div>
{% endblock %}